body {
  background-color: rgb(255, 255, 255);
  font-family: 'Arial', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.calculator {
  background: #2f2f2f;
  padding: 20px;
  border-radius: 20px;
  width: 500px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
}

.display {
  background: #1d1d1d;
  color: #fff;
  font-size: 2.5rem;
  padding: 20px;
  text-align: right;
  border-radius: 15px;
  margin-bottom: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  font-weight: bold;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}

button {
  padding: 20px;
  font-size: 1.5rem;
  border: none;
  border-radius: 10px;
  background-color: #444;
  color: #fff;
  cursor: pointer;
  transition: 0.2s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

button:hover {
  background-color: #555;
  transform: translateY(-2px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

button:active {
  transform: translateY(0);
}

button:focus {
  outline: none;
}

button:disabled {
  background-color: #888;
  cursor: not-allowed;
}

.span-2 {
  grid-column: span 2;
  background-color: #00de2c;
  color: #fff;
}

button:nth-child(1) {
  background-color: #f44336;
  color: white;
}

button:nth-child(2), button:nth-child(3), button:nth-child(4) {
  background-color: #4caf50;
}

button:nth-child(5), button:nth-child(6), button:nth-child(7) {
  background-color: #2196f3;
}

button:nth-child(8), button:nth-child(9), button:nth-child(10) {
  background-color: #ff9800;
}

button:nth-child(11), button:nth-child(12) {
  background-color: #9c27b0;
}

button:nth-child(13), button:nth-child(14) {
  background-color: #673ab7;
}

button:nth-child(15), button:nth-child(16) {
  background-color: #3f51b5;
}

button:nth-child(17) {
  background-color: #00de2c;  /* Màu nền cho nút "=" */
  color: #fff;
 
}

/* Tạo hiệu ứng cho toàn bộ máy tính */
.calculator {
  transition: transform 0.3s ease;
}
.footer {
  margin-top: 20px;
  padding: 10px;
  text-align: center;
  background-color: #2f2f2f;
  color: white;
  font-size: 1rem;
  border-top: 1px solid #444;
}

 
  